$turquoise-blue: #55efc4;
$persian-green: #00b894;
$spray: #81ecec;
$robins-egg-blue: #00cec9;
$malibu: #74b9ff;
$azure-radiance: #0984e3;
$melrose: #a29bfe;
$royal-blue: #6c5ce7;
$geyser: #dfe6e9;
$submarine: #b2bec3;
$vis-vis: #ffeaa7;
$goldenrod: #fdcb6e;
$rose-bud: #fab1a0;
$terracotta: #e17055;
$salmon: #ff7675;
$valencia: #d63031;
$tickle-me-pink: #fd79a8;
$cerise: #e84393;
$nevada: #636e72;
$outer-space: #2d3436;

$palette-colors: (
  "turquoise-blue": $turquoise-blue,
  "persian-green": $persian-green,
  "spray": $spray,
  "robins-egg-blue": $robins-egg-blue,
  "malibu": $malibu,
  "azure-radiance": $azure-radiance,
  "melrose": $melrose,
  "royal-blue": $royal-blue,
  "geyser": $geyser,
  "submarine": $submarine,
  "vis-vis": $vis-vis,
  "goldenrod": $goldenrod,
  "rose-bud": $rose-bud,
  "terracotta": $terracotta,
  "salmon": $salmon,
  "valencia": $valencia,
  "tickle-me-pink": $tickle-me-pink,
  "cerise": $cerise,
  "nevada": $nevada,
  "outer-space": $outer-space
);
