$sahara-sand: #f6e58d;
$lightning-yellow: #f9ca24;
$macaroni-and-cheese: #ffbe76;
$carrot-orange: #f0932b;
$salmon: #ff7979;
$cinnabar: #eb4d4b;
$conifer: #badc58;
$apple: #6ab04c;
$humming-bird: #dff9fb;
$iceberg: #c7ecee;
$aquamarine-blue: #7ed6df;
$eastern-blue: #22a6b3;
$heliotrope: #e056fd;
$purple-heart: #be2edd;
$havelock-blue: #686de0;
$blue: #4834d4;
$rhino: #30336b;
$bunting: #130f40;
$nepal: #95afc0;
$shuttle-gray: #535c68;

$palette-colors: (
  "sahara-sand": $sahara-sand,
  "lightning-yellow": $lightning-yellow,
  "macaroni-and-cheese": $macaroni-and-cheese,
  "carrot-orange": $carrot-orange,
  "salmon": $salmon,
  "cinnabar": $cinnabar,
  "conifer": $conifer,
  "apple": $apple,
  "humming-bird": $humming-bird,
  "iceberg": $iceberg,
  "aquamarine-blue": $aquamarine-blue,
  "eastern-blue": $eastern-blue,
  "heliotrope": $heliotrope,
  "purple-heart": $purple-heart,
  "havelock-blue": $havelock-blue,
  "blue": $blue,
  "rhino": $rhino,
  "bunting": $bunting,
  "nepal": $nepal,
  "shuttle-gray": $shuttle-gray
);
