$azure-radiance: #00a8ff;
$cerulean: #0097e6;
$heliotrope: #9c88ff;
$medium-purple: #8c7ae6;
$sunglow: #fbc531;
$golden-grass: #e1b12c;
$apple: #4cd137;
$green: #44bd32;
$steel-blue: #487eb0;
$san-marino: #40739e;
$pomegranate: #e84118;
$thunderbird: #c23616;
$whisper: #f5f6fa;
$iron: #dcdde1;
$regent-gray: #7f8fa6;
$slate-gray: #718093;
$astronaut: #273c75;
$biscay: #192a56;
$bright-gray: #353b48;
$outer-space: #2f3640;

$palette-colors: (
  "azure-radiance": $azure-radiance,
  "cerulean": $cerulean,
  "heliotrope": $heliotrope,
  "medium-purple": $medium-purple,
  "sunglow": $sunglow,
  "golden-grass": $golden-grass,
  "apple": $apple,
  "green": $green,
  "steel-blue": $steel-blue,
  "san-marino": $san-marino,
  "pomegranate": $pomegranate,
  "thunderbird": $thunderbird,
  "whisper": $whisper,
  "iron": $iron,
  "regent-gray": $regent-gray,
  "slate-gray": $slate-gray,
  "astronaut": $astronaut,
  "biscay": $biscay,
  "bright-gray": $bright-gray,
  "outer-space": $outer-space
);
