$lavender-rose: #ff9ff3;
$lavender-magenta: #f368e0;
$golden-tainoi: #feca57;
$yellow-orange: #ff9f43;
$bittersweet: #ff6b6b;
$burnt-sienna: #ee5253;
$malibu: #48dbfb;
$cerulean: #0abde3;
$java: #1dd1a1;
$mountain-meadow: #10ac84;
$robins-egg-blue: #00d2d3;
$persian-green: #01a3a4;
$dodger-blue: #54a0ff;
$curious-blue: #2e86de;
$purple-heart: #5f27cd;
$jacksons-purple: #341f97;
$botticelli: #c8d6e5;
$regent-gray: #8395a7;
$shuttle-gray: #576574;
$ebony-clay: #222f3e;

$palette-colors: (
  "lavender-rose": $lavender-rose,
  "lavender-magenta": $lavender-magenta,
  "golden-tainoi": $golden-tainoi,
  "yellow-orange": $yellow-orange,
  "bittersweet": $bittersweet,
  "burnt-sienna": $burnt-sienna,
  "malibu": $malibu,
  "cerulean": $cerulean,
  "java": $java,
  "mountain-meadow": $mountain-meadow,
  "robins-egg-blue": $robins-egg-blue,
  "persian-green": $persian-green,
  "dodger-blue": $dodger-blue,
  "curious-blue": $curious-blue,
  "purple-heart": $purple-heart,
  "jacksons-purple": $jacksons-purple,
  "botticelli": $botticelli,
  "regent-gray": $regent-gray,
  "shuttle-gray": $shuttle-gray,
  "ebony-clay": $ebony-clay
);
