$rob-roy: #eccc68;
$web-orange: #ffa502;
$coral: #ff7f50;
$persimmon: #ff6348;
$wild-watermelon: #ff6b81;
$radical-red: #ff4757;
$cadet-blue: #a4b0be;
$raven: #747d8c;
$shuttle-gray: #57606f;
$charade: #2f3542;
$pastel-green: #7bed9f;
$shamrock: #2ed573;
$malibu: #70a1ff;
$dodger-blue: #1e90ff;
$royal-blue: #5352ed;
$blue-ribbon: #3742fa;
$white: #ffffff;
$athens-gray: #f1f2f6;
$mystic: #dfe4ea;
$geyser: #ced6e0;

$palette-colors: (
  "rob-roy": $rob-roy,
  "web-orange": $web-orange,
  "coral": $coral,
  "persimmon": $persimmon,
  "wild-watermelon": $wild-watermelon,
  "radical-red": $radical-red,
  "cadet-blue": $cadet-blue,
  "raven": $raven,
  "shuttle-gray": $shuttle-gray,
  "charade": $charade,
  "pastel-green": $pastel-green,
  "shamrock": $shamrock,
  "malibu": $malibu,
  "dodger-blue": $dodger-blue,
  "royal-blue": $royal-blue,
  "blue-ribbon": $blue-ribbon,
  "white": $white,
  "athens-gray": $athens-gray,
  "mystic": $mystic,
  "geyser": $geyser
);
