$lightning-yellow: #ffc312;
$tree-poppy: #f79f1f;
$pear: #c4e538;
$atlantis: #a3cb38;
$java: #12cbc4;
$blue-chill: #1289a7;
$lavender-rose: #fda7df;
$heliotrope: #d980fa;
$mandy: #ed4c67;
$hibiscus: #b53471;
$flamingo: #ee5a24;
$alizarin-crimson: #ea2027;
$fun-green: #009432;
$blue-stone: #006266;
$science-blue: #0652dd;
$lucky-point: #1b1464;
$portage: #9980fa;
$blue-violet: #5758bb;
$plum: #833471;
$tawny-port: #6f1e51;

$palette-colors: (
  "lightning-yellow": $lightning-yellow,
  "tree-poppy": $tree-poppy,
  "pear": $pear,
  "atlantis": $atlantis,
  "java": $java,
  "blue-chill": $blue-chill,
  "lavender-rose": $lavender-rose,
  "heliotrope": $heliotrope,
  "mandy": $mandy,
  "hibiscus": $hibiscus,
  "flamingo": $flamingo,
  "alizarin-crimson": $alizarin-crimson,
  "fun-green": $fun-green,
  "blue-stone": $blue-stone,
  "science-blue": $science-blue,
  "lucky-point": $lucky-point,
  "portage": $portage,
  "blue-violet": $blue-violet,
  "plum": $plum,
  "tawny-port": $tawny-port
);
