$mountain-meadow: #1abc9c;
$green-sea: #16a085;
$shamrock: #2ecc71;
$jungle-green: #27ae60;
$curious-blue: #3498db;
$mariner: #2980b9;
$wisteria: #9b59b6;
$studio: #8e44ad;
$pickled-bluewood: #34495e;
$midnight-blue: #2c3e50;
$buttercup: #f1c40f;
$carrot: #f39c12;
$zest: #e67e22;
$burnt-orange: #d35400;
$cinnabar: #e74c3c;
$tall-poppy: #c0392b;
$porcelain: #ecf0f1;
$silver-sand: #bdc3c7;
$cascade: #95a5a6;
$oslo-gray: #7f8c8d;

$palette-colors: (
  "mountain-meadow": $mountain-meadow,
  "green-sea": $green-sea,
  "shamrock": $shamrock,
  "jungle-green": $jungle-green,
  "curious-blue": $curious-blue,
  "mariner": $mariner,
  "wisteria": $wisteria,
  "studio": $studio,
  "pickled-bluewood": $pickled-bluewood,
  "midnight-blue": $midnight-blue,
  "buttercup": $buttercup,
  "carrot": $carrot,
  "zest": $zest,
  "burnt-orange": $burnt-orange,
  "cinnabar": $cinnabar,
  "tall-poppy": $tall-poppy,
  "porcelain": $porcelain,
  "silver-sand": $silver-sand,
  "cascade": $cascade,
  "oslo-gray": $oslo-gray
);
