$cherokee: #fad390;
$saffron: #f6b93b;
$manhattan: #f8c291;
$cinnabar: #e55039;
$danube: #6a89cc;
$indigo: #4a69bd;
$bermuda: #82ccdd;
$fountain-blue: #60a3bc;
$yellow-green: #b8e994;
$pastel-green: #78e08f;
$neon-carrot: #fa983a;
$fire-bush: #e58e26;
$scarlet: #eb2f06;
$cardinal: #b71540;
$jacksons-purple: #1e3799;
$madison: #0c2461;
$ming: #3c6382;
$tarawera: #0a3d62;
$keppel: #38ada9;
$niagara: #079992;

$palette-colors: (
  "cherokee": $cherokee,
  "saffron": $saffron,
  "manhattan": $manhattan,
  "cinnabar": $cinnabar,
  "danube": $danube,
  "indigo": $indigo,
  "bermuda": $bermuda,
  "fountain-blue": $fountain-blue,
  "yellow-green": $yellow-green,
  "pastel-green": $pastel-green,
  "neon-carrot": $neon-carrot,
  "fire-bush": $fire-bush,
  "scarlet": $scarlet,
  "cardinal": $cardinal,
  "jacksons-purple": $jacksons-purple,
  "madison": $madison,
  "ming": $ming,
  "tarawera": $tarawera,
  "keppel": $keppel,
  "niagara": $niagara
);
