$carnation: #fc5c65;
$amaranth: #eb3b5a;
$neon-carrot: #fd9644;
$crusta: #fa8231;
$sunglow: #fed330;
$saffron: #f7b731;
$shamrock: #26de81;
$mountain-meadow: #20bf6b;
$turquoise: #2bcbba;
$java: #0fb9b1;
$picton-blue: #45aaf2;
$curious-blue: #2d98da;
$royal-blue: #4b7bec;
$mariner: #3867d6;
$medium-purple: #a55eea;
$amethyst: #8854d0;
$geyser: #d1d8e0;
$cadet-blue: #a5b1c2;
$bermuda-gray: #778ca3;
$bismark: #4b6584;

$palette-colors: (
  "carnation": $carnation,
  "amaranth": $amaranth,
  "neon-carrot": $neon-carrot,
  "crusta": $crusta,
  "sunglow": $sunglow,
  "saffron": $saffron,
  "shamrock": $shamrock,
  "mountain-meadow": $mountain-meadow,
  "turquoise": $turquoise,
  "java": $java,
  "picton-blue": $picton-blue,
  "curious-blue": $curious-blue,
  "royal-blue": $royal-blue,
  "mariner": $mariner,
  "medium-purple": $medium-purple,
  "amethyst": $amethyst,
  "geyser": $geyser,
  "cadet-blue": $cadet-blue,
  "bermuda-gray": $bermuda-gray,
  "bismark": $bismark
);
