$hit-pink: #fea47f;
$coral: #f97f51;
$bright-turquoise: #25ccf7;
$dodger-blue: #1b9cfc;
$tulip-tree: #eab543;
$dairy-cream: #f8efba;
$turquoise-blue: #55e6c1;
$tradewind: #58b19f;
$tasman: #cad3c8;
$oxford-blue: #2c3a47;
$royal-heath: #b33771;
$tawny-port: #6d214f;
$gigas: #3b3b98;
$biscay: #182c61;
$bittersweet: #fd7272;
$violet-red: #fc427b;
$water-leaf: #9aecdb;
$pine-glade: #bdc581;
$biloba-flower: #d6a2e8;
$deluge: #82589f;

$palette-colors: (
  "hit-pink": $hit-pink,
  "coral": $coral,
  "bright-turquoise": $bright-turquoise,
  "dodger-blue": $dodger-blue,
  "tulip-tree": $tulip-tree,
  "dairy-cream": $dairy-cream,
  "turquoise-blue": $turquoise-blue,
  "tradewind": $tradewind,
  "tasman": $tasman,
  "oxford-blue": $oxford-blue,
  "royal-heath": $royal-heath,
  "tawny-port": $tawny-port,
  "gigas": $gigas,
  "biscay": $biscay,
  "bittersweet": $bittersweet,
  "violet-red": $violet-red,
  "water-leaf": $water-leaf,
  "pine-glade": $pine-glade,
  "biloba-flower": $biloba-flower,
  "deluge": $deluge
);
