$tacao: #f3a683;
$sandy-brown: #f19066;
$marzipan: #f7d794;
$golden-sand: #f5cd79;
$cornflower-blue: #778beb;
$royal-blue: #546de5;
$terracotta: #e77f67;
$flame-pea: #e15f41;
$charm: #cf6a87;
$blush: #c44569;
$kimberly: #786fa6;
$victoria: #574b90;
$illusion: #f8a5c2;
$persian-pink: #f78fb3;
$viking: #63cdda;
$scooter: #3dc1d3;
$apricot: #ea8685;
$sunglo: #e66767;
$shuttle-gray: #596275;
$pickled-bluewood: #303952;

$palette-colors: (
  "tacao": $tacao,
  "sandy-brown": $sandy-brown,
  "marzipan": $marzipan,
  "golden-sand": $golden-sand,
  "cornflower-blue": $cornflower-blue,
  "royal-blue": $royal-blue,
  "terracotta": $terracotta,
  "flame-pea": $flame-pea,
  "charm": $charm,
  "blush": $blush,
  "kimberly": $kimberly,
  "victoria": $victoria,
  "illusion": $illusion,
  "persian-pink": $persian-pink,
  "viking": $viking,
  "scooter": $scooter,
  "apricot": $apricot,
  "sunglo": $sunglo,
  "shuttle-gray": $shuttle-gray,
  "pickled-bluewood": $pickled-bluewood
);
