$east-bay: #40407a;
$martinique: #2c2c54;
$moody-blue: #706fd3;
$slate-blue: #474787;
$quarter-spanish-white: #f7f1e3;
$dawn: #aaa69d;
$picton-blue: #34ace0;
$jelly-bean: #227093;
$turquoise: #33d9b2;
$elm: #218c74;
$sunset-orange: #ff5252;
$medium-carmine: #b33939;
$burning-orange: #ff793f;
$tuscany: #cd6133;
$swirl: #d1ccc0;
$friar-gray: #84817a;
$yellow-orange: #ffb142;
$brandy-punch: #cc8e35;
$kournikova: #ffda79;
$sundance: #ccae62;

$palette-colors: (
  "east-bay": $east-bay,
  "martinique": $martinique,
  "moody-blue": $moody-blue,
  "slate-blue": $slate-blue,
  "quarter-spanish-white": $quarter-spanish-white,
  "dawn": $dawn,
  "picton-blue": $picton-blue,
  "jelly-bean": $jelly-bean,
  "turquoise": $turquoise,
  "elm": $elm,
  "sunset-orange": $sunset-orange,
  "medium-carmine": $medium-carmine,
  "burning-orange": $burning-orange,
  "tuscany": $tuscany,
  "swirl": $swirl,
  "friar-gray": $friar-gray,
  "yellow-orange": $yellow-orange,
  "brandy-punch": $brandy-punch,
  "kournikova": $kournikova,
  "sundance": $sundance
);
