$french-rose: #ef5777;
$radical-red: #f53b57;
$indigo: #575fcf;
$governor-bay: #3c40c6;
$malibu: #4bcffa;
$dodger-blue: #0fbcf9;
$turquoise: #34e7e4;
$robins-egg-blue: #00d8d6;
$spring-green: #0be881;
$jade: #05c46b;
$yellow-orange: #ffc048;
$web-orange: #ffa801;
$mustard: #ffdd59;
$sunglow: #ffd32a;
$persimmon: #ff5e57;
$red-orange: #ff3f34;
$geyser: #d2dae2;
$regent-gray: #808e9b;
$river-bed: #485460;
$ebony-clay: #1e272e;

$palette-colors: (
  "french-rose": $french-rose,
  "radical-red": $radical-red,
  "indigo": $indigo,
  "governor-bay": $governor-bay,
  "malibu": $malibu,
  "dodger-blue": $dodger-blue,
  "turquoise": $turquoise,
  "robins-egg-blue": $robins-egg-blue,
  "spring-green": $spring-green,
  "jade": $jade,
  "yellow-orange": $yellow-orange,
  "web-orange": $web-orange,
  "mustard": $mustard,
  "sunglow": $sunglow,
  "persimmon": $persimmon,
  "red-orange": $red-orange,
  "geyser": $geyser,
  "regent-gray": $regent-gray,
  "river-bed": $river-bed,
  "ebony-clay": $ebony-clay
);
