$biloba-flower: #cd84f1;
$heliotrope: #c56cf0;
$your-pink: #ffcccc;
$sundown: #ffb8b8;
$sunset-orange: #ff4d4d;
$red-orange: #ff3838;
$yellow-orange: #ffaf40;
$tree-poppy: #ff9f1a;
$laser-lemon: #fffa65;
$yellow: #fff200;
$spring-green: #32ff7e;
$shamrock: #3ae374;
$aquamarine: #7efff5;
$turquoise-blue: #67e6dc;
$cyan-aqua: #18dcff;
$bright-turquoise: #17c0eb;
$cornflower-blue: #7d5fff;
$medium-purple: #7158e2;
$tundora: #4b4b4b;
$mine-shaft: #3d3d3d;

$palette-colors: (
  "biloba-flower": $biloba-flower,
  "heliotrope": $heliotrope,
  "your-pink": $your-pink,
  "sundown": $sundown,
  "sunset-orange": $sunset-orange,
  "red-orange": $red-orange,
  "yellow-orange": $yellow-orange,
  "tree-poppy": $tree-poppy,
  "laser-lemon": $laser-lemon,
  "yellow": $yellow,
  "spring-green": $spring-green,
  "shamrock": $shamrock,
  "aquamarine": $aquamarine,
  "turquoise-blue": $turquoise-blue,
  "cyan-aqua": $cyan-aqua,
  "bright-turquoise": $bright-turquoise,
  "cornflower-blue": $cornflower-blue,
  "medium-purple": $medium-purple,
  "tundora": $tundora,
  "mine-shaft": $mine-shaft
);
