@mixin border ($color) {
  border-color: $color !important;
}

@mixin border-top ($color) {
  border-top-color: $color !important;
}

@mixin border-bottom ($color) {
  border-bottom-color: $color !important;
}

@mixin border-left ($color) {
  border-left-color: $color !important;
}

@mixin border-right ($color) {
  border-right-color: $color !important;
}

@mixin border-x ($color) {
  @include border-left($color);
  @include border-right($color);
}

@mixin border-y ($color) {
  @include border-top($color);
  @include border-bottom($color);
}

@mixin border-hover ($color) {
  &:hover {
    @include border($color);
  }
}

@mixin border-top-hover ($color) {
  &:hover {
    @include border-top($color);
  }
}

@mixin border-bottom-hover ($color) {
  &:hover {
    @include border-bottom($color);
  }
}

@mixin border-left-hover ($color) {
  &:hover {
    @include border-left($color);
  }
}

@mixin border-right-hover ($color) {
  &:hover {
    @include border-right($color);
  }
}

@mixin border-x-hover ($color) {
  &:hover {
    @include border-left($color);
    @include border-right($color);
  }
}

@mixin border-y-hover ($color) {
  &:hover {
    @include border-top($color);
    @include border-bottom($color);
  }
}
