@mixin column-rule ($color) {
  -webkit-column-rule-color: $color !important;
  -moz-column-rule-color: $color !important;
  column-rule-color: $color !important;
}

@mixin column-rule-hover ($color) {
  &:hover {
    @include column-rule($color);
  }
}
