@import "true";
@import "../../src/mixins/column-rule";

@include describe("column-rule [mixins]") {
  @include it("column-rule() should make a valid column rule color.") {
    @include assert {
      @include output {
        @include column-rule(#123456);
      }

      @include expect {
        -webkit-column-rule-color: #123456 !important;
        -moz-column-rule-color: #123456 !important;
        column-rule-color: #123456 !important;
      }
    }
  }

  @include it("column-rule-hover() should make a valid column rule hover color.") {
    @include assert {
      @include output {
        @include column-rule-hover(#123456);
      }

      @include expect {
        &:hover {
          -webkit-column-rule-color: #123456 !important;
          -moz-column-rule-color: #123456 !important;
          column-rule-color: #123456 !important;
        }
      }
    }
  }
}
